{% extends "admin/change_form.html" %}
{% load static i18n admin_modify admin_urls grp_tags %}
{% block field_sets %}
<div class="custom-fieldsets">
    {% for custom_row in custom_fieldsets %}
    <div class="module grp-module grp-row">
        <div class="field-box l-2c-fluid l-d-4" style="width: 100%;">
            {% for column in custom_row %}
            <div style="float:{{ column.float }};width:{{ column.width }};">
                {% for fieldset in column.column %}
                {% include "admin/design/custom_fieldset.html" %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script defer="defer">
    detailedElementNum = {
        "id_rebar_design_mode": 5,
        "id_hoist_design_mode": 2,
        "id_demold_design_mode": 2,
        "id_rail_design_mode": 2,
        "id_hole_design_mode": 5,
        "id_joint_design_mode": 2,
        "id_step_slot_design_mode": 2,
        "id_water_drip_design_mode": 4
    }

    window.onload = function () {
        function toggleModuleContent(content) {
            // 遍历每一种深化设计
            for (const [mode, num] of Object.entries(content)) {
                const modeSelect = document.getElementById(mode);

                const v = modeSelect.value;     // 0自动 1手动 2不计算

                const detailedOuterDiv = modeSelect.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;

                var detailedHide = detailedOuterDiv.nextElementSibling;
                detailedHide.style.display = "none";
                for (var i = 1; i < num; i++) {
                    if (parseInt(v) === 0 || parseInt(v) === 2) {
                        detailedHide = detailedHide.nextElementSibling;
                        detailedHide.style.display = "none";
                    } else {
                        detailedHide.style.display = "block";
                        detailedHide = detailedHide.nextElementSibling;
                        detailedHide.style.display = "block";
                    }
                }
            }
        }

        for (const mode of Object.keys(detailedElementNum)) {
            var modeSelect = document.getElementById(mode);
            modeSelect.addEventListener("change", function () {
                toggleModuleContent(detailedElementNum)
            });
        }

        toggleModuleContent(detailedElementNum);
    }
</script>
{% endblock %}
