{% extends "admin/change_form.html" %}
{% load static i18n admin_modify admin_urls grp_tags %}
{% block field_sets %}
<div class="custom-fieldsets">
    {% for custom_row in custom_fieldsets %}
    <div class="module grp-module grp-row">
        <div class="field-box l-2c-fluid l-d-4" style="width: 100%;">
            {% for column in custom_row %}
            <div style="float:{{ column.float }};width:{{ column.width }};">
                {% for fieldset in column.column %}
                {% include "admin/design/custom_fieldset.html" %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script defer="defer">
    detailedElementNum = {
        "id_rebar_design_mode": 5,
        "id_hoist_design_mode": 2,
        "id_demold_design_mode": 2,
        "id_rail_design_mode": 2,
        "id_hole_design_mode": 5,
        "id_joint_design_mode": 2,
        "id_step_slot_design_mode": 2,
        "id_water_drip_design_mode": 4
    }

    window.onload = function () {
        if (document.getElementById("id_stair")) {
            function toggleModuleContent(content) {
                // 遍历每一种深化设计
                for (const [mode, num] of Object.entries(content)) {
                    const modeSelect = document.getElementById(mode);

                    const v = modeSelect.value;     // 0自动 1手动 2不计算

                    const detailedOuterDiv = modeSelect.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;

                    var detailedHide = detailedOuterDiv.nextElementSibling;
                    detailedHide.style.display = "none";
                    for (var i = 1; i < num; i++) {
                        if (parseInt(v) === 0 || parseInt(v) === 2) {
                            detailedHide = detailedHide.nextElementSibling;
                            detailedHide.style.display = "none";
                        } else {
                            detailedHide.style.display = "block";
                            detailedHide = detailedHide.nextElementSibling;
                            detailedHide.style.display = "block";
                        }
                    }
                }
            }

            for (const mode of Object.keys(detailedElementNum)) {
                var modeSelect = document.getElementById(mode);
                modeSelect.addEventListener("change", function () {
                    toggleModuleContent(detailedElementNum)
                });
            }

            toggleModuleContent(detailedElementNum);
        }
    }
</script>

<script type="text/javascript" charset="utf-8">

    (function ($) {
        $(document).ready(function () {
            let stair = $("#id_stair");
            let widthObject = $("#id_width");
            let topTopLengthObject = $("#id_top_to_length");
            let bottomTopLengthObject = $("#id_bottom_top_length");

            if (stair) {
                // 关联参数自动获取显示问题
                stair.change(function () {
                    var stairID = $(this).val();
                    $.ajax({
                        url: "http://127.0.0.1:8000/design/structure",
                        method: "GET",
                        success: function (data) {
                            const stairData = data.results;
                            let obj = stairData.find(item => item.id == stairID);
                            if (obj) {
                                const weight = obj.weight;
                                const top_top_length = obj.top_top_length;
                                const bottom_top_length = obj.bottom_top_length;
                                widthObject.val(weight);
                                topTopLengthObject.val(top_top_length);
                                bottomTopLengthObject.val(bottom_top_length);
                            }
                        }
                    });
                });

                // 关联参数的提示问题
                function relatedRemind(label, parameter) {
                    parameter.on("input", function () {
                        const dataValue = parameter.val();
                        $.ajax({
                            url: "http://127.0.0.1:8000/design/structure",
                            method: "GET",
                            success: function (data) {
                                const stairData = data.results;
                                let obj = stairData.find(item => item.id == stair.val());
                                if (obj) {
                                    if (obj[label] !== parseInt(dataValue)) {
                                        parameter.next(".grp-help").text("与结构设计参数不一致！").css("color", "red");
                                    } else {
                                        parameter.next(".grp-help").text("此参数需和结构设计端保持一致").css("color", "#9a9a9a");
                                    }
                                }
                            }
                        });
                    });
                }

                var relatedDict = {
                    "weight": widthObject,
                    "top_top_length": topTopLengthObject,
                    "bottom_top_length": bottomTopLengthObject,
                }

                for (var [label, para] of Object.entries(relatedDict)) {
                    relatedRemind(label, para);
                }

            }

            // 处理预设模型获取功能
            function updateElements(elements, object) {
                elements.forEach(element => {
                    const label = element.id.slice(3);
                    if (object.hasOwnProperty(label)) {
                        element.value = object[label];
                    }
                })
            }

            $("#id_pre_stair").change(function () {
                const preID = $(this).val();

                if (preID) {
                    console.log("检测到了预设参数选了值，进行相应关联")
                    const inputs = document.querySelectorAll("input:not(.grp-button):not([type='hidden'])");
                    const selects = document.querySelectorAll("select:not(#id_pre_stair)");
                    // 发送请求获取预设模型数据
                    $.ajax({
                        url: "http://127.0.0.1:8000/design/presetmodel",
                        method: "GET",
                        success: function (data) {
                            const preModelData = data.results;
                            let obj = preModelData.find(item => item.id == preID);
                            // 执行赋值操作
                            updateElements(inputs, obj);
                            updateElements(selects, obj);
                        }
                    })
                } else {
                    console.log("无预设参数，用户自己输入（输入框恢复原始状态）");
                    // 恢复默认状态
                    const inputs = document.querySelectorAll("input:not(.grp-button):not([type='hidden'])");
                    const selects = document.querySelectorAll("select:not(#id_pre_stair)");

                    inputs.forEach(input => input.value = '');
                    selects.forEach(select => select.selectedIndex = 0);
                }
            })
        });     // ready
    })(grp.jQuery);
</script>

{% endblock %}
